body {
    width: 100%;
    font-size: 20px;
    margin: 0;
    background-color: #355aa9;
    box-sizing: border-box;
    color: white;
}

form {
    margin: 2rem auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding: 2rem;
    background-color: #1a2a6c;
    opacity: 0.8;
    color: white;
    border-radius: 4px;
}

h1, p {
    margin: 1em auto;
    text-align: center;
}

form p {
    text-align: left;
    margin-bottom: 0;
}

label {
    display: block;
    margin: 1rem 0;
}

input, textarea, select {
    width: 100%;
    margin-top: 10px;
    padding: 0.5em;
    font-size: 0.8em;
    box-sizing: border-box;
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: aqua;
}

#feedback-label {
    margin-top: 2rem;
}

.radio-label, .checkbox-label {
    margin: 0.3em 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}